/* GLOBAL SELECTOR */

*/{
    box-sizing: border-box;
}

/* TYPE SELECTORS */

body{
    font-family: 'Quicksand', sans-serif;
}

header{
    background: linear-gradient( to top, transparent, grey 90%);
    padding-top: 1.1em;
    text-align: center;
    padding-bottom: 1em;
}

h1{
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #234b09;
}

a:hover{
    color: coral;
    transition: 1s;
}

a:active{
    color:rgb(90, 92, 247);
    transition: 0s;
}

footer{
    margin-bottom: 2em;
    border-top: solid 2px grey;
}

footer li{
    padding: .6em;
}

footer h4{
    margin-bottom: 1em;
}
/* CLASS SELECTORS */

.main-nav li{
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav a{
    display: block;
    padding: .75em;
    font-size: 1.2em;
}

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.profile-pic{
    width: 95%;
}

.content-image{
    width: 90%;
    margin-top: 3em;
}

.contact{
    margin: 4em 0;
}

.contact ul,
.contact li{
    margin-top: 1em;
}

.skills {
    margin: 4em 0;
}

.skills li {
    background-color: grey;
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
}

.skills li:nth-child(odd) { background:forestgreen}

/* @media styles */

@media screen and (min-width: 768px) {

    body{
        font-size: 1.08em;
    }

    .container-1,
    .intro{
        float:right;
        text-align: left;
    }

    .intro{
        width:65%;
    }

    .intro p{
        padding-right:;
    }

    .container-1{
        text-align:center;
        width:35%;
    }
    
    .container-2{
        float:right;
        width: 50%;
        padding-bottom: 1.06em;
    }

    .container-2 p{
        padding: 0 5px;
    }

    .group:after {
        content: "";
        display: table;
        clear: both;
    }

    .skills,
    .contact{
        margin:auto;
        width:80%;
    }

    footer {`
        margin-top: 3em;
    }

    footer h4, 
    footer ul{
    display: inline-block;
    }

    footer h4{
        float:left;
    }
    
    footer nav {
        float: right;
    }
    
    footer li{
        padding: 1.33em 0 0 0;
        margin-left: 4em;
        display: inline-block;
    
    }
}    

@media screen and (min-width: 1024px) {


    body{
        font-size: 1.3
        em;
    }
    .container-2{
        float: left;
        width: 33%;
    }

    .skills,
    .contact {
        margin:auto;
        width: 55%;
    }

}    

@media screen and (min-width: 1024px) {

    body{
        font-size: 1.4em;
    }

}